/**************************\
    PLANO
\**************************/
.plano {
    padding: 10px;
    border: 1px solid #95a4a5;
}

.plano__cabecalho {
    margin: -10px;
    margin-bottom: 0px;

    background-color: #95a4a5;
    color: #ffF;

    text-align: center;
    line-height: 2.5;
    font-weight: normal;
    font-size: 28px;
}

.plano__preco {
    margin: 20px;

    text-align: center;
    font-size: 20px;
}

.plano__caracteristicas {
    padding: 0px;
    margin: 20px 0;

    list-style: none;
}

.plano__caracteristicas>li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
}

/**************************\
    BOTAO
\**************************/

.botao {
    display: inline-block;
    background-color: #bbb;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
}

.botao:hover,
.botao:focus {
    background-color: #aaa;
    text-decoration: none;
    color: #fff;
}

.botao--assinar {
    background-color: #127d00;
}

.botao--assinar:hover,
.botao--assinar:focus {
    background-color: #0e6400;
}

.botao--principal {
    border-radius: 10px;

    background-color: #004b86;
}

.botao--principal:hover,
.botao--principal:focus {

    background-color: #003b6a;
}

.chamada {
    font-size: 1.6rem;
    text-align: center;
}

.chamada__titulo {
    margin: 0;

    color: #fff;

    font-size: 3.375em;
    line-height: 0.9;
    text-shadow: 1px 1px #313131;
}

.chamada__subtitulo {
    margin: 60px 0;

    color: #fff;

    font-size: 1em;
}

.chamada__acao {
    font-size: 1em;

    padding: 40px;

    text-align: center;

    padding-bottom: 0px;
}

@media(min-width: 992px) {
    .chamada {
        padding-left: 15%;
        padding-right: 15%;

        font-size: 2.2rem;
    }

    /* .depoimento {
        padding-left: 25%;
        padding-right: 25%;

        font-size: 2.2rem;
    } */
}


/* .depoimento{
  
    align-items: center;

    text-align: center;

    background-color: lightgrey;
}

.depoimento-escrito::before {
    content: open-quote;
    font-size: 10em;
    color: #bbb;
    line-height: .6;
    position: absolute;

    padding-right: 500px;
}

.foto-depoimento{
    border-radius: 50%;

    padding: 35px 0;

} */


/**************************\
    DEPOIMENTO
\**************************/

.depoimento {
    font-size: 2.2em;
}

@media(min-width: 992px){
    .depoimento{
        padding-left: 10%;
        padding-right: 10%;

        font-size: 2.8rem;
    }

}

.depoimento>blockquote {
    margin: 0;
    padding: 0 60px;

    text-align: center;
    font-size: 1em;

}

.depoimento-autor{
    margin-top: 40px;

    text-align: center;
    font-size: 0.8181em;
}

.depoimento-autor > img{
    border-radius: 50%;
}

.depoimento-autor > p {
    margin-top: 10px;
} 